* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
  --heading-color: hsl(217, 19%, 35%);
  --paragraph-color: hsl(214, 17%, 51%);
  --bg-color: hsl(213, 35%, 81%);
  --card-bg--color: hsl(210, 46%, 95%);
}

/* Layout */

body {
    /* height: 100vh; */
    background: var(--bg-color);
    
}
/* styling of the card */
.main-content {
   
    /* align-items: center; */
    max-width: 900px;
    /* height: 550px; */
    margin: 5% auto;
    display: flex;
    overflow: hidden;
    
    background: var(--card-bg--color);
    /* padding: 2px 16px; */
    border-radius: 10px;

}
.main-img {
   flex: 2;
}
.main-info{
    flex: 3;
    padding: 20px;
}
.main-img  {
   
 background-image: url("./images/drawers.jpg");
 background-size: cover;
 border-radius: 10px 0 0 10px;
}


/* styling */
.heading-info {
    background-color: var(--card-bg--color);
}
.head {
    color: var(--heading-color);
    font-size: 1.5em;
}

.para {
    color: var(--paragraph-color);
    font-size: .9em;
}

.container .para {
    margin: 5% 0;
}
.author-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.author-info {
    display: flex;
}
.author-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.share-btn img {
    margin-right: 50px;
    padding: 15px;
    border-radius: 50%;
    /* background-color: var(--bg-color); */
}